# Ignore environment variables file
.env

# Ignore API keys directory
api_keys/

# Ignore update scripts
update_awsserver.sh
update_page.sh

# Ignore SSL CERTIFICATES 
nginx/ssl/star.samana.cloud.2024.crt
nginx/ssl/star.samana.cloud.2024.pem
nginx/ssl/star.samana.cloud.2024.key